.cargoesResponsesList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cargoCard {
  padding: 16px 24px 8px 24px;
}

.cargoCardTop {
  margin-bottom: 14px;
}

.pagination {
  margin-top: auto;
  width: 100%;
  padding-top: 32px;
}

.cargoResponseActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

@media screen and (max-width: 500px) {
  .cargoCard {
    padding: 16px 10px 8px 16px;
  }
}
