div.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 24px;
  border: 0.5px solid rgb(217, 217, 217);
  border-radius: 4px;
  background: var(--color-white);
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.closeButton {
  width: 24px;
  height: 24px;
}

div.backdrop {
  background: rgba(0, 0, 0, 0.7);
}
