.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 302px;
  border: 1px solid #1d1d1b4d;
  border-radius: 50%;
  background: rgb(255 247 240);

  text {
    font-weight: 700;
    transform: translateY(0.125rem);
  }
}

.border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 42px);
  height: calc(100% - 42px);
  border: 1px solid #1d1d1b4d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
