.demoRequestForm {
  display: flex;
  gap: 0.75rem;
  width: 100%;

  &.black {
    input {
      background: rgb(37 37 35);
      border-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }

  input {
    max-width: 520px;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    font-family: var(--font-roboto);
    font-size: 1.125rem;
    line-height: 34px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 1px solid var(--color-black-primary);
    box-sizing: border-box;

    &::placeholder {
      opacity: 1;
      color: #9ca3af;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 200px;
    padding: 1rem;
    background: var(--color-primary);
    font-size: 20px;
    color: var(--color-white);
    line-height: 1.175rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .demoRequestForm {
    flex-direction: column;
    gap: 1.25rem;
    align-items: stretch;

    input,
    button {
      max-width: 100%;
      width: 100%;
    }

    input {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      line-height: 1.75rem;
    }
  }
}
