.form {
  .checkboxLabel {
    margin-top: 9px;
  }

  .submitButton {
    margin-top: 25px;
  }

  p {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    color: var(--color-gray-200);
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoFields {
  display: flex;
  flex-direction: column;
  gap: 24px;

  label {
    margin-bottom: 8px;
  }
}
