.applicationSearch {
  padding: 20px;

  label {
    margin-bottom: 8px;
  }

  & > button {
    margin-top: 24px;
  }
}

.routeSearch {
  margin-top: 12px;
}

div.departureDate {
  margin-top: 24px;

  label {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .applicationSearch {
    padding: 0;
    box-shadow: none;

    & > p {
      display: none;
    }
  }
}
