.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgb(245, 245, 245);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.25;
    color: #000;
  }
}

.video {
  max-width: 960px;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
}

@media screen and (max-width: 767px) {
  .content {
    h2 {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.25;
      margin-bottom: 1.25rem;
    }
  }
}
