.datePicker {
  & > div {
    border: 1px solid var(--input-border-color);
  }

  &.error > div {
    border-color: var(--color-red);

    input::placeholder {
      color: var(--color-red);
    }
  }

  input {
    padding: 7px 11px;
    height: 38px;
    box-sizing: border-box;

    &::placeholder {
      opacity: 1;
      color: var(--color-gray-200);
    }
  }
}

.actionsBar {
  button {
    color: #fff;
  }
}

.paper {
  margin-top: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: var(--box-shadow);

  svg {
    fill: var(--color-black-primary);
  }

  .day {
    font-size: 14px;
    color: var(--color-black-primary);

    &:hover,
    &:focus {
      background: color-mix(in srgb, var(--color-primary), transparent 85%);
    }

    &Selected {
      background-color: var(--color-primary) !important;
    }

    &Today {
      border: 1px solid #d9d9d9 !important;
    }
  }

  :global(.MuiPickersYear-root) {
    button {
      justify-content: center;

      &:hover,
      &:focus {
        background: color-mix(in srgb, var(--color-primary), transparent 85%);
      }

      &:global(.Mui-selected) {
        background-color: var(--color-primary);
      }
    }
  }
}
