.emailEdit {
  display: flex;
  gap: 5px;

  .emailField {
    background: rgba(217, 217, 217, 0.15);

    & > div {
      border-color: #d9d9d9;
    }
  }

  & > button {
    min-width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid var(--color-gray-200);
    background-color: transparent;

    &:hover {
      border-color: var(--color-gray-200);
      background-color: inherit;
    }
  }
}
